{% extends "layout.html" %}

{% block title %}
    My Tasks
{% endblock %}

{% block main %}
    <form class="mb-3" action="/home" method="post">
        <h3>Add a task now</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="Task Name" type="text">
                </div>
                <div class="col">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="description" name="description" placeholder="Task Description" type="text">
                </div>
                <div class="col">
                    <select class="form-select" name="day">
                        <option value="{{ time }}" selected>{{ time }}</option>
                        {% for day in wlist %}
                        <option value="{{ day }}">{{ day }}</option>
                        {% endfor %}
                      </select>
                </div>
                <div class="col" name="time">
                    <input class="form-control mx-auto w-auto" id="time" name="time"  type="time">
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit">ADD TASK</button>
                </div>
            </div>


        </div>
        <div class="mb-3">

        </div>

    </form>
    <table method="get" class="table table-striped">
        <tr>
            <th></th>
            <th>Task</th>
            <th>Description</th>
            <th>Day</th>
            <th>Time</th>
            <th></th>

        </tr>
        {% for task in tasks %}
            <form action="/check" method="post">
                <tr>
                    <td style="background-color:black">
                        <input onChange="this.form.submit()" class="form-check-input" type="checkbox" id="check1" name="option1" value="{{task.name}}">
                    </td>
                    <td> {{ task.name }}</td>
                    <td> {{ task.description }}</td>
                    <td> {{ task.day }}</td>
                    <td> {{ task.time }}</td>
                    <td>
                        <button name="option3" value="{{task.name}}" onclick="this.form.submit()" type="submit" class="btn btn-outline-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                            </svg>
                            <span class="visually-hidden">Button</span>
                        </button>
                    </td>
                </tr>
            </form>
        {% endfor %}

    </table>
    <h4>Check Your
    <a class="link" href="/tasks">Completed Tasks</a>
    from <a href="/tasks">here</a></h4>
{% endblock %}
